@import '../Base/Variables';

.layout-container {
    min-height: 100vh; // Pour s'assurer que le contenu occupe toute la hauteur de la page
    background-color: $background-color; // Utilisation de la variable SASS
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1; // Cela assure que le contenu principal occupe le reste de l'espace disponible
    padding: 20px; // Un peu d'espace autour du contenu
  }
  